* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav a:first-child:hover{
    background-color: white;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top :0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
}
.sidebar {
    display: none;
    transition: all 0.3s ease-in-out; /* Thêm thuộc tính transition */
}
.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}
.sidebar li:first-child{
    margin-left: 70%;
}
main {
    
}

.menu-button{
    display: none;
}
.default-nav {
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
        
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
.nav-logo img {
    max-height: 100px; /* Adjust the height as needed */
    width: auto;
    object-fit: contain;
}

/* ... Your previous styles ... */

footer {
    background-color: #f2f2f2;
    padding: 50px 0;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    flex: 1;
    padding: 0 20px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.email-id {
    color: #007bff;
    text-decoration: none;
}

.email-id:hover {
    text-decoration: underline;
}
.col ul {
    list-style: none;
    padding: 0;
}

/* Styling for smaller screens */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin-bottom: 20px;
    }
}   
/* Trong file layout.css */
.header-content{
    width: 100%;
    height: 200px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10px;
    background: url(./public/bg-td-top-pc.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
    text-align: center;
}
.info{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-bottom: 40px;
    text-align: center;
}
.list-item{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}
.item{
    width: 300px;
}
.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.col-item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 45px;
    
    font-size: 20px;
    
}
.location-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:white;
    overflow: hidden;
    transform: translateY(-55%);
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}
.location-icon i{
    font-size: 30px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(30%);
}
.banner-info{
    text-align: center;
    padding: 70px 0 40px 0;
}
.contact-info{
    width: 50%;
    
    margin: 0 auto;
}
.work-time{
    font-size: 20px;
    margin: 50px;
}
.work-time,.email{
    display: inline-block;
}
.email span{
    font-size: 18px;
    color: red;
    cursor: pointer;
}
.email i{
    font-size: 150%;
}
